root {
  --fly-font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei','sans-serif';
  --fly-num-family: 'Monospaced Number';
  --fly-code-family: Consolas, Menlo, Courier, monospace;
  --fly-border-width-none: 0;
  --fly-border-width-1: 1px;
  --fly-border-width-2: 2px;
  --fly-border-width-3: 3px;
  --fly-border-width-4: 4px;
  --fly-border-width-5: 5px;
  --fly-font-size-display-lg: 56px;
  --fly-font-size-display-md: 48px;
  --fly-font-size-display-sm: 36px;
  --fly-font-size-title-lg: 24px;
  --fly-font-size-title-md: 20px;
  --fly-font-size-title-sm: 16px;
  --fly-font-size-body-lg: 16px;
  --fly-font-size-body-md: 14px;
  --fly-font-size-body-sm: 12px;
  --fly-bg-1: #fff;
  --fly-bg-2: var(--fly-color-gray-1);
  --fly-bg-3: #fff;
  --fly-bg-4: #fff;
  --fly-size-lg: 40px;
  --fly-size-md: 32px;
  --fly-size-sm: 24px;
  --fly-padding-xxxl: 40px;
  --fly-padding-xxl: 32px;
  --fly-padding-xl: 24px;
  --fly-padding-lg: 20px;
  --fly-padding-md: 16px;
  --fly-padding-sm: 12px;
  --fly-padding-xs: 8px;
  --fly-padding-xxs: 4px;
  --fly-padding-none: 0;
  --fly-margin-xxxl: 40px;
  --fly-margin-xxl: 32px;
  --fly-margin-xl: 24px;
  --fly-margin-lg: 20px;
  --fly-margin-md: 16px;
  --fly-margin-sm: 12px;
  --fly-margin-xs: 8px;
  --fly-margin-xxs: 4px;
  --fly-margin-none: 0;
  --fly-border-radius-base: 6px;
  --fly-color-font-1: var(--fly-color-gray-13);
  --fly-color-font-2: var(--fly-color-gray-10);
  --fly-color-font-3: var(--fly-color-gray-8);
  --fly-color-font-4: var(--fly-color-gray-6);
  --fly-color-border-1: var(--fly-color-gray-1);
  --fly-color-border-2: var(--fly-color-gray-2);
  --fly-color-border-3: var(--fly-color-gray-3);
  --fly-color-border-4: var(--fly-color-gray-4);
  --fly-color-border-5: var(--fly-color-gray-5);
  --fly-color-fill-1: #fff;
  --fly-color-fill-2: var(--fly-color-gray-1);
  --fly-color-fill-3: var(--fly-color-gray-2);
  --fly-color-fill-4: var(--fly-color-gray-3);
  --fly-color-fill-5: var(--fly-color-gray-4);
  --fly-color-fill-6: var(--fly-color-gray-5);
  --fly-selected-color: var(--fly-color-primary-6);
  --fly-selected-bg: var(--fly-color-primary-1);
  --fly-selected-hover-bg: var(--fly-color-primary-1);
  --fly-disabled-color: var(--fly-color-gray-6);
  --fly-disabled-bg: var(--fly-color-gray-1);
  --fly-disabled-border-color: var(--fly-color-gray-3);
  --fly-placeholder-color: var(--fly-color-gray-5);
  --fly-mask-color: var(--fly-color-gray-3);
  --fly-mask-bg: rgba(0, 0, 0, 0.1);
  --fly-help-color: var(--fly-color-gray-8);
  --fly-help-icon-color: var(--fly-color-gray-8);
  --fly-color-gray-base: 13, 20, 33;
  --fly-color-gray-1: #f7f7f7;
  --fly-color-gray-2: #f0f1f2;
  --fly-color-gray-3: #e7e8e9;
  --fly-color-gray-4: #dbdcde;
  --fly-color-gray-5: #c3c5c8;
  --fly-color-gray-6: #a2a5aa;
  --fly-color-gray-7: #85898f;
  --fly-color-gray-8: #70747c;
  --fly-color-gray-9: #565b64;
  --fly-color-gray-10: #424852;
  --fly-color-gray-11: #2f3541;
  --fly-color-gray-12: #19202c;
  --fly-color-gray-13: #0d1421;
  --fly-color-info-base: 24, 144, 255;
  --fly-color-info-1: var(--fly-skyblue-1);
  --fly-color-info-2: var(--fly-skyblue-2);
  --fly-color-info-3: var(--fly-skyblue-3);
  --fly-color-info-4: var(--fly-skyblue-4);
  --fly-color-info-5: var(--fly-skyblue-5);
  --fly-color-info-6: var(--fly-skyblue-6);
  --fly-color-info-7: var(--fly-skyblue-7);
  --fly-color-info-8: var(--fly-skyblue-8);
  --fly-color-info-9: var(--fly-skyblue-9);
  --fly-color-info-10: var(--fly-skyblue-10);
  --fly-color-primary-base: 50, 115, 255;
  --fly-color-primary-1: var(--fly-blue-1);
  --fly-color-primary-2: var(--fly-blue-2);
  --fly-color-primary-3: var(--fly-blue-3);
  --fly-color-primary-4: var(--fly-blue-4);
  --fly-color-primary-5: var(--fly-blue-5);
  --fly-color-primary-6: var(--fly-blue-6);
  --fly-color-primary-7: var(--fly-blue-7);
  --fly-color-primary-8: var(--fly-blue-8);
  --fly-color-primary-9: var(--fly-blue-9);
  --fly-color-primary-10: var(--fly-blue-10);
  --fly-color-success-base: 0, 168, 112;
  --fly-color-success-1: var(--fly-green-1);
  --fly-color-success-2: var(--fly-green-2);
  --fly-color-success-3: var(--fly-green-3);
  --fly-color-success-4: var(--fly-green-4);
  --fly-color-success-5: var(--fly-green-5);
  --fly-color-success-6: var(--fly-green-6);
  --fly-color-success-7: var(--fly-green-7);
  --fly-color-success-8: var(--fly-green-8);
  --fly-color-success-9: var(--fly-green-9);
  --fly-color-success-10: var(--fly-green-10);
  --fly-color-warning-base: 255, 153, 0;
  --fly-color-warning-1: var(--fly-orange-1);
  --fly-color-warning-2: var(--fly-orange-2);
  --fly-color-warning-3: var(--fly-orange-3);
  --fly-color-warning-4: var(--fly-orange-4);
  --fly-color-warning-5: var(--fly-orange-5);
  --fly-color-warning-6: var(--fly-orange-6);
  --fly-color-warning-7: var(--fly-orange-7);
  --fly-color-warning-8: var(--fly-orange-8);
  --fly-color-warning-9: var(--fly-orange-9);
  --fly-color-warning-10: var(--fly-orange-10);
  --fly-color-error-base: 213, 61, 60;
  --fly-color-error-1: var(--fly-red-1);
  --fly-color-error-2: var(--fly-red-2);
  --fly-color-error-3: var(--fly-red-3);
  --fly-color-error-4: var(--fly-red-4);
  --fly-color-error-5: var(--fly-red-5);
  --fly-color-error-6: var(--fly-red-6);
  --fly-color-error-7: var(--fly-red-7);
  --fly-color-error-8: var(--fly-red-8);
  --fly-color-error-9: var(--fly-red-9);
  --fly-color-error-10: var(--fly-red-10);
  --fly-color-link-base: var(--fly-color-primary-base);
  --fly-color-link-1: var(--fly-color-primary-1);
  --fly-color-link-2: var(--fly-color-primary-2);
  --fly-color-link-3: var(--fly-color-primary-3);
  --fly-color-link-4: var(--fly-color-primary-4);
  --fly-color-link-5: var(--fly-color-primary-5);
  --fly-color-link-6: var(--fly-color-primary-6);
  --fly-color-link-7: var(--fly-color-primary-7);
  --fly-color-link-8: var(--fly-color-primary-8);
  --fly-color-link-9: var(--fly-color-primary-9);
  --fly-color-link-10: var(--fly-color-primary-10);
  --fly-comlayout-header-height: 56px;
  --fly-comlayout-header-light-bg: #fff;
  --fly-comlayout-header-dark-bg: #242424;
  --fly-comlayout-header-dark-border-color: #242424;
  --fly-comlayout-header-primary-bg: var(--fly-color-primary-6);
  --fly-comlayout-header-primary-border-color: var(--fly-color-primary-6);
  --fly-comlayout-sider-width: 216px;
  --fly-comlayout-sider-collapse-width: 60px;
  --fly-comlayout-sider-light-bg: #fff;
  --fly-comlayout-sider-dark-bg: #242424;
  --fly-comlayout-sider-primary-bg: var(--fly-color-primary-6);
  --fly-comlayout-sider-menu-light-selected-bg: var(--fly-menu-light-selected-bg);
  --fly-comlayout-tabs-height: var(--fly-size-md);
  --fly-comlayout-tabs-light-bg: var(--fly-bg-3);
  --fly-comlayout-tabs-light-color: var(--fly-color-gray-9);
  --fly-comlayout-tabs-light-active-color: var(--fly-color-primary-6);
  --fly-comlayout-tabs-light-active-bg: var(--fly-bg-2);
  --fly-comlayout-tabs-light-active-border-color: var(--fly-color-primary-6);
  --fly-comlayout-tabs-dark-bg: #333333;
  --fly-comlayout-tabs-dark-active-color: var(--fly-color-primary-6);
  --fly-comlayout-tabs-dark-active-bg: var(--fly-color-gray-1);
  --fly-comlayout-tabs-dark-active-border-color: var(--fly-color-primary-6);
  --fly-comlayout-content-padding-x: var(--fly-padding-lg);
  --fly-comlayout-content-padding-y: var(--fly-padding-md);
  --fly-comlayout-content-bg: var(--fly-bg-2);
  --fly-menu-vertical-padding-x: var(--fly-padding-xs);
  --fly-menu-vertical-padding-y: var(--fly-padding-xxs);
  --fly-menu-font-size: var(--fly-font-size-body-md);
  --fly-menu-light-bg: #fff;
  --fly-menu-light-color: var(--fly-color-font-1);
  --fly-menu-light-color-selected: var(--fly-color-primary-6);
  --fly-menu-light-selected-bg: var(--fly-selected-bg);
  --fly-menu-dark-bg: #242424;
  --fly-menu-dark-color: var(--fly-white-12);
  --fly-menu-dark-color-selected: var(--fly-white-13);
  --fly-menu-dark-selected-bg: var(--fly-white-4);
  --fly-menu-height-horizontal-sm: 32px;
  --fly-menu-height-horizontal-md: 48px;
  --fly-menu-height-horizontal-lg: 64px;
}
